<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataConfig" type="FastData.Config.DataConfig,FastData" />
    <section name="RedisConfig" type="FastRedis.Config.RedisConfig,FastRedis" />
  </configSections>
  
  <DataConfig>
    <Oracle>
      <Add ConnStr="User Id=qebemr;Password=qebsoft;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=emrdata)));pooling=true;Min Pool Size=5;Max Pool Size=50;" CacheType="redis" SqlErrorType="file" Key="Test" IsOutError="true" IsOutSql="false" />
    </Oracle>
  </DataConfig>
  
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="10" MaxReadPoolSize="50" AutoStart="true" />
</configuration>
