<html>
<head>
    <title>动态生成接口文档(FastApi)</title>
    <script src="/Scripts/jquery-min.js"></script>
    <script src="/Scripts/codemirror.js"></script>
    <script src="/Scripts/xml.js"></script>
    <link href="/Content/home.css" rel="stylesheet" />
    <link href="/Content/codemirror.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
