@model System.Collections.Generic.Dictionary<string,object>
<html>
<head>
    <script src="/Scripts/jquery-min.js"></script>
    <script src="/Scripts/codemirror.js"></script>
    <script src="/Scripts/xml.js"></script>
    <link href="/Content/home.css" rel="stylesheet" />
    <link href="/Content/codemirror.css" rel="stylesheet" />
</head>
<body>
    <h3 style="color:red;text-align:center;">动态生成接口文档(FastApi)</h3>
    <div style="float:left;width:15%;padding-left:10%;">
        <table class="table" cellspacing="0" spellcheck="0">
            <thead><tr><td align="center"><button id="add">增加</button></td></tr></thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr><td data-name="@item.Key.Replace("map/","")" data-value="@item.Value">@item.Key</td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div style="float:left;width:75%;">
        文件名：<input id="name" style="margin-bottom:20px;height:35px;padding-left:10px;margin-right:20px;" />
        <button id="del">删除</button>
        <button id="save" style="margin-left:20px;">保存</button>
        <br />
        <textarea rows="30" cols="100" id="code" style="line-height:120%;font-size:14px;"></textarea>
    </div>
</body>
</html>
<script>
    $(function () {
        var editor;
        $("table tr").first().click();
    });
    
    $("table tbody tr").click(function () {
        $(this).css("background-color", "#6CC2CC");
        $("table tbody tr:odd").not(this).css("background-color", "#ffffff");
        $("table tbody tr:even").not(this).css("background-color", "#f3f4f5");
        $("textarea").val($(this).children().data("value"));
        $("#name").val($(this).children().data("name"));
        $(".CodeMirror").remove();
        editor = CodeMirror.fromTextArea(document.getElementById("code"), { mode: "text/xml", lineNumbers: true});
    });

    $("#save").click(function () {
        $.ajax({
            type: "POST",
            url: "/xml",
            data: { "name": $("#name").val(), "xml": editor.getValue() },
            success: function (data) {
                alert(data.msg);
                window.location.reload();
            }
        });
    });

    $("#del").click(function () {
        if (confirm("是否删除") == true) {
            $.ajax({
                type: "POST",
                url: "/del",
                data: { "name": $("#name").val() },
                success: function (data) {
                    alert(data.msg);
                    window.location.reload();
                }
            });
        }      
    });

    $("#add").click(function () {
        $(".CodeMirror").remove();
        $("textarea").val("<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<sqlMap>\n\t<select id=\"\" db=\"\" type=\"\">\n\r\t</select>\n</sqlMap>");
        $("#name").val(".xml");
        editor = CodeMirror.fromTextArea(document.getElementById("code"), { mode: "text/xml", lineNumbers: true });
    });
</script>
